/************RESET*************/
@import url(reset.css);

/************COMMON*************/
@import url(common.css);

/************Root*************/
@import url(root.css);

/************Header Styles********/
@import url(header.css);

/**********Main Styles**********/
@import url(main.css);

/********Footer Styles**********/
@import url(footer.css);

/*******************************/

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg);
    color: var(--color-secondary-white);
    font-size: 18px;
    height: 100%;
    width: 100%;
}

/***************************************/

.wrapper {
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}

/***************************************/

.page {
    flex: 1 1 auto;
    padding-top: 85;
}

@media (max-width:500px) {
    .page {
        padding-top: 70px;
    }
}

/***************************************/

[class*="__container"] {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/***************************************/

/***************************************/

/***************************************/