@import url(root.css);

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social__link {
    background-color: var(--color-social-icon);
    flex: 0 0 48px;
    border-radius: 50%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease 0s;
}

.social__link:hover {
    background-color: var(--color-social-icon-hover);
}