:root {
    --main-bg: #222831;
    --color-main-white: rgba(238, 238, 238);
    --color-mint: #00ADB5;
    --color-secondary-white: rgba(238, 238, 238, 0.75);
    --color-social-icon: #393E46;
    --color-social-icon-hover: #5b636f;
    --dark-bg-opasity: rgba(57, 62, 70, 0.5);
}